.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  flex: 1;
}
h3,
p {
  color: rgb(255, 255, 255);
  font-weight: 800;
}

.grid__boss {
  top: 80px;
  margin-top: 2%;
  z-index: 5;
  display: flex;
  align-content: center;

  width: 100% !important;
}
.car1 > img {
  width: 100vw !important;
}
.car2 > img {
  width: 100vw !important;
}
.car3 > img {
  width: 100vw !important;
}
