.mediacardfull {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.card1 {
  margin: 2% !important;
  border-radius: 50px !important;
  border-radius: 50px;
  background: linear-gradient(145deg, #0f0f8f, #0d0d79);
  box-shadow: 20px 20px 60px #090956, -20px -20px 60px #1313b6;
}
.card1:hover {
  transform: scale(1.2);
  transition: transform 0.2s;
  z-index: 2;

  background: linear-gradient(145deg, #ffffff, #dadadb);
  box-shadow: 20px 20px 60px #cececf, -20px -20px 60px #ffffff;
}
